body,html{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: white;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 96%;
    height: 60px;
    margin: 0px 2% 0px 2%;
    background-color: rgb(144, 181, 250);
    position: fixed;
    z-index: 100;
}
.logo{
    width: 30%;
    height: 40px;
    margin: 10px auto auto 50px;
    background-color: rgb(255, 224, 244);
    position: relative;
}
.search{
    width: 95%;
    height: 20px;
    margin: 20px 60px auto auto;
    background-color: rgb(255, 240, 199);
    position: relative;
}
.hero{
    height: 500px;
    width: 96%;
    background-color: rgb(255, 240, 199);
    margin: 0px 2% 0px 2%;
}
.text{
    width: 65%;
    height: 130px;
    margin: 200px 60px auto auto;
    background-color: rgb(144, 181, 250);
    position: relative;
}
.button{
    width: 15%;
    height: 50px;
    margin: 15px 60px auto auto;
    background-color: rgb(255, 224, 244);
    position: relative;
}
.section{
    display: grid;
    height: 200px;
    width: 96%;
    background-color: rgb(144, 181, 250);
    margin: 0px 2% 0px 2%;
}
.right_top{
    background-color: rgb(255, 224, 244);
    height: 200px;
    width: 35%;
    margin: 0px 0px auto auto;
}
.title{
    height: 60px;
    width: 60%;
    margin: 120px 110px auto auto;
    background-color: rgb(144, 181, 250);
}
.section_2{
    display: grid;
    height: 200px;
    width: 96%;
    background-color: rgb(144, 181, 250);
    margin: 0px 2% 0px 2%;
}
.right_bottom{
    background-color: rgb(255, 240, 199);
    height: 200px;
    width: 35%;
    margin: 0px 0px auto auto;
}
.title_2{
    height: 50px;
    width: 50%;
    margin: 120px 140px auto auto;
    background-color: rgb(255, 224, 244);
}
.scroll{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 200px;
    background-color: white;
}
.left_scroll{
    background-color: rgb(255, 224, 244);
    height: 90px;
    width: 50%;
    margin: 50px auto 0px auto;
}
.left_middle{
    background-color: rgb(255, 224, 244);
    height: 90px;
    width: 50%;
    margin: 50px auto 0px auto;
}
.right_middle{
    background-color: rgb(255, 224, 244);
    height: 90px;
    width: 50%;
    margin: 50px auto 0px auto;
}
.right{
    background-color: rgb(255, 224, 244);
    height: 90px;
    width: 50%;
    margin: 50px auto 0px auto;
}
.main{
    background-color: rgb(144, 181, 250);
    height: 500px;
    width: 96%;
    margin: 0px 2% 0px 2%;
}
.header_main{
    background-color: rgb(255, 224, 244);
    height: 70px;
    width: 30%;
    margin: 20px auto 0px auto;
}
.columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 90%;
    margin: 10px auto 0px auto;
}
.column{
    background-color: rgb(255, 240, 199);
    height: 140px;
    width: 50%;
    margin: 70px auto 0px auto;
}
.options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 90%;
    margin: 10px auto 0px auto;
}
.option{
    background-color: rgb(255, 224, 244);
    height: 60px;
    width: 80%;
    margin: 60px auto 0px auto;
}
.split{
    height: 10px;
    width: 100%;
    margin: 0px auto 0px auto;
    background-color: white;
}
.flavors{
    height: 200px;
    width: 96%;
    margin: 0px 2% 0px 2%;
    background-color: rgb(255, 224, 244);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.seven_boxes{
    height: 100px;
    width: 50%;
    margin: 50px auto 0px auto;
    background-color: rgb(144, 181, 250);
}
.footer{
    height: 150px;
    width: 96%;
    margin: 0px 2% 0px 2%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left_footer{
    margin: 30px auto 0px 20px;
    height: 100px;
    width: 70%;
    background-color: rgb(255, 240, 199);
}
.right_footer{
    margin: 30px 20px 0px auto;
    height: 100px;
    width: 60%;
    background-color: rgb(255, 240, 199);
}