---
layout: layouts/base.njk
---

<div class="work__title">
    product design
</div>
{% set postslist = collections["product design"] %}
{% include "partials/homelist.njk" %}


<div class="work__title">
    sculpture
</div>
{% set postslist = collections.sculpture %}
{% include "partials/homelist.njk" %}