---
layout: layouts/base.njk
---

<div class="work__title">
    K-State
</div>
{% set postslist = collections["K-State"] %}
{% include "partials/homelist.njk" %}


<div class="work__title">
    Sculpture
</div>
{% set postslist = collections.sculpture %}
{% include "partials/homelist.njk" %}