---
layout: layouts/base.njk
---

<div class="work__title">
    K-STATE
</div>
{% set postslist = collections.kstate %}
{% include "partials/homelist.njk" %}


<div class="work__title">
    3D DESIGN
</div>
{% set postslist = collections.3ddesign %}
{% include "partials/homelist.njk" %}


<div class="work__title">
    DRAWING
</div>
{% set postslist = collections.drawing %}
{% include "partials/homelist.njk" %}


<div class="work__title">
    PHOTOGRAPHY
</div>
{% set postslist = collections.photography %}
{% include "partials/homelist.njk" %}


<div class="work__title">
    INDEPENDENT WORK
</div>
{% set postslist = collections.independent %}
{% include "partials/homelist.njk" %}


<div class="work__title">
    SORORITY
</div>
{% set postslist = collections.sorority %}
{% include "partials/homelist.njk" %}