<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://use.typekit.net/ffl4bhx.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img class="logo" src="img/white_logo" alt="logo">
            </div>
            <div class="name">
                BAYLEE BLOOM
            </div>
            <div class="about">
                ABOUT
            </div>
        </div>
        <div class="line"></div>
        <div class="header_1">
            K-STATE
        </div>
        <div class="hero_1">
            <div class="c1_1">
                <p class="caption">THROWBACK</p>
            </div>
            <div class="c2_1">
                <p class="caption">PLAYER CARD</p>
            </div>
        </div>
        <div class="header_2">
            3D DESIGN
        </div>
        <div class="hero_2">
            <div class="c1_2">
                <p class="caption">WIRE SHOE</p>
            </div>
            <div class="c2_2">
                <p class="caption">TRANSFORMATION CUBE</p>
            </div>
        </div>
        <div class="hero_3">
            <div class="c1_3">
                <p class="caption">BUBBLES</p>
            </div>
            <div class="c2_3">
                <p class="caption">BROKEN TEA</p>
            </div>
        </div>
        <div class="header_3">
            DRAWING
        </div>
        <div class="hero_4">
            <div class="c1_4">
                <p class="caption">CLOTH</p>
            </div>
            <div class="c2_4">
                <p class="caption">CHAIR SCENE</p>
            </div>
        </div>
        <div class="header_4">
            PHOTOGRAPHY
        </div>
        <div class="hero_5">
            <div class="c1_5">
                <p class="caption">COOL DOWN</p>
            </div>
            <div class="c2_5">
                <p class="caption">SPLASH</p>
            </div>
        </div>
        <div class="hero_6">
            <div class="c1_6">
                <p class="caption">TREE</p>
            </div>
            <div class="c2_6">
                <p class="caption">SPIN</p>
            </div>
        </div>
        <div class="header_5">
            INDEPENDENT WORK
        </div>
        <div class="hero_7">
            <div class="c1_7">
                <p class="caption">OLYMPICS</p>
            </div>
            <div class="c2_7">
                <p class="caption">IGNITE</p>
            </div>
        </div>
        <div class="hero_8">
            <div class="c1_8">
                <p class="caption">SWIM SWIM</p>
            </div>
            <div class="c2_8">
                <p class="caption">TROJAN</p>
            </div>
        </div>
        <div class="header_6">
            SORORITY
        </div>
        <div class="hero_9">
            <div class="c1_9">
                <p class="caption">MOANA</p>
            </div>
            <div class="c2_9">
                <p class="caption">NEW BIDS</p>
            </div>
        </div>
        <div class="footer"></div>
    </body>
</html>