<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://use.typekit.net/ffl4bhx.css">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="header_s">
            <div class="logo_s">
                <img class="logo_s" src="img/pink_logo.png" alt="logo">
            </div>
            <div class="name_s">
                BAYLEE BLOOM
            </div>
            <div class="about_s">
                ABOUT
            </div>
            <div class="blank"></div>
            <div class="line_s"></div>
        </div>
        <div class="title">
            TRANSFORMATION
        </div>
        <div class="title_2">
            CUBE
        </div>
        <div class="info">
            <div class="date">
                -2018
            </div>
            <div class="text">
                <p>
                    In this challenge the objective was to transform a cube. You will subtract and add solid forms from your cube. Your design should have both rectilinear and curvilinear surfaces.
                </p>
                <p>
                    You will next use your transformed cube as a unit.  Your finished product will use all 3 units in relationship to one another. Your work for both parts must be non-objective and asymmetrical, engaging from multiple directions and well crafted.
                </p>
            </div>
        </div>
        <div class="pic_2">
            <div class="detail"></div>
            <div class="detail_2"></div>
        </div>
        <div class="footer_s">
            <div class="projects">
                OTHER PROJECTS
            </div>
            <div class="row">
                <div class="big">
                    WIRE SHOE
                </div>
                <div class="little">
                    -SCULPTURE
                </div>
                <div class="big_2">
                    BUBBLES
                </div>
                <div class="little_2">
                    -SCULPTURE
                </div>
            </div>
            <div class="row">
                <div class="big">
                    BROKEN TEA
                </div>
                <div class="little">
                    -SCULPTURE
                </div>
                <div class="big_2">
                    CLOTH FOLDS
                </div>
                <div class="little_2">
                    -DRAWING
                </div>
            </div>
        </div>
    </body>
</html>