<!-- start of partials/footer -->
<div class="footer_s">

    <div >
            <div class="projects">
                OTHER PROJECTS
            </div>
    {% set postslist = collections.work %}
    {% for post in postslist %}
        <p> 
            <a href=" {{ post.url | url }} ">
                {{ post.data.title }} - {{ post.data.type }}
            </a>
        </p>

    {% endfor %}
            
    </div>
</div>
<!-- end of partials/footer -->