<!-- start of partials/footer -->
<div class="footer">
    <p>OTHER PROJECTS</p>
    <p>WIRE SHOE</p>
    <p>-SCULPTURE</p>
    <p>BUBBLES</p>
    <p>-SCULPTURE</p>
    <p>BROKEN TEA</p>
    <p>-SCULPTURE</p>
    <p>CLOTH FOLDS</p>
    <p>-DRAWING</p>
</div> 
<!-- end of partials/footer -->