<!-- start of partials/header -->
<div class="header">
            <div class="logo_s">
                <img class="logo_s" src="/img/pink_logo.png" alt="logo">
            </div>
            <div class="name_s">
                BAYLEE BLOOM
            </div>
            <div class="about_s">
                {% set homeUrl %}/{% endset %}
                <a href="{{ homeUrl | url }}" class="tag">ABOUT</a>
            </div>
            <div class="blank"></div>
            <div class="line_s"></div>
</div>
<!-- end of partials/header -->